{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}  {% endblock %}</title>
    <style>
        body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
background-color: #333;
color: #fff;
padding: 20px;
text-align: center;
}

main {
margin: 20px;
}

form {
display: flex;
flex-direction: column;
max-width: 400px;
margin: 0 auto;
}

label {
font-weight: bold;
}

input[type="text"],
textarea {
width: 100%;
padding: 8px;
margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}
    </style>
</head>
<body>
    <header>
        <h1>{% block tituloh %}  {% endblock %}</h1>
    </header>

    <main>
        <!--Esta es la barra de navegacion-->
        <div class="navbar">
            <a class="active" href="{% url 'Pagina de inicio' %}">Inicio</a>
            <a class="active" href="{% url 'Blogs' %}">Blogs</a>
        </div>
        {% block content %} 


        {% endblock %}
        
        <!-- Formulario para los blogs
            <form>
            <label for="titulo">Título:</label>
            <input type="text" id="titulo" name="titulo" required><br><br>

            <label for="contenido">Contenido:</label><br>
            <textarea id="contenido" name="contenido" rows="4" cols="50" required></textarea><br><br>

            <input type="submit" value="Guardar">
        </form> -->
    </main>

    <footer>
        <p>Autor: Anthony Chaisa</p>
    </footer>
</body>
</html>

</html>