{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}  {% endblock %}</title>
</head>
<body>
    <header>
        <h1>{% block tituloh %}  {% endblock %}</h1>
    </header>

    <main>
        <!--Esta es la barra de navegacion-->
        <div class="navbar">
            <a class="active" href="index.html">Inicio</a>
            <a href="crear.html">Blogs</a>
        </div>
        {% block content %} 
        {% endblock %}
        
        <!-- Formulario para los blogs
            <form>
            <label for="titulo">Título:</label>
            <input type="text" id="titulo" name="titulo" required><br><br>

            <label for="contenido">Contenido:</label><br>
            <textarea id="contenido" name="contenido" rows="4" cols="50" required></textarea><br><br>

            <input type="submit" value="Guardar">
        </form> -->
    </main>

    <footer>
        <p>Autor: Anthony Chaisa</p>
    </footer>
</body>
</html>

</html>