{% extends "base.html" %}

{% block titulo %} Blogs Creados{% endblock %}

{% block tituloh %} Blogs disponibles{% endblock %}

{% block content %}

    <h4> Lista de libros</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Contenido</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Prueba</td>
                <td>Contenido Largooooooooooo</td>
                <td>Editar|Borrar</td>
            </tr>
        </tbody>
    </table>
    <a href="{% url 'CrearBlog' %}">Crear un Blog</a>  

    
{% endblock %}